@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Color+Emoji&display=swap');

:root {

    --vp-c-brand-1: #07bbbc;
    --vp-c-brand-2: #7576ac;
    --vp-button-brand-bg: var(--vp-c-brand-1);

    --vp-sidebar-width: 272px;
    --vp-sidebar-bg-color: var(--vp-c-bg-alt);

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #07bbbc 30%, #7576ac);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #07bbbc 50%, #7576ac 50%);
    --vp-home-hero-image-filter: blur(80px);

  /* Typography */
  --vp-font-family-base: "Figtree", sans-serif;

  /* Code Snippet font */
  --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}